<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Add Data Addin</Name><AddInID>{9a814964-3e82-4684-bc7d-55bf4d2938fa}</AddInID><Description>First Addin</Description><Version>0.1</Version><Image>Images\Addi_Logo.png</Image><Author>James Edebo</Author><Company>Teqbridge Limited</Company><Date>05/26/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="CadasPyT_addin.py" namespace="CadasPyT_addin"><ArcMap>
    <Commands>
        <Button caption="Base_Imagery" category="Add Data Addin" class="ButtonClass1" id="CadasPyT_addin.button" image="Images\GenericAddGreen16.png" message="" tip="This adds base Imageries "><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Series One" category="Add Data Addin" id="CadasPyT_addin.toolbar" showInitially="true"><Items><Button refID="CadasPyT_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>